<form name="f" [formGroup]="f" novalidate>
  <div *ngIf="!data.jedi || data.jedi.length === 0">There are no Jedi, we are in a dark age, indeed!
    <button (click)="resetData()">Start Academy</button>
  </div>
  <table formArrayName="jedis">
    <tr>
      <th>Name</th>
      <th>Race</th>
      <th>Homeworld</th>
      <th>Status</th>
      <th>Master</th>
      <th>Rank</th>
      <th>Actions</th>
    </tr>
    <tr [formGroupName]="j"
        *ngFor="let jedi of f['controls'].jedis['controls']; let j = index;">
      <td><input type="text" name="name" formControlName="name" required/></td>
      <td><input type="text" name="race" formControlName="race"/></td>
      <td><input type="text" name="homeworld" formControlName="homeworld"/></td>
      <td><input type="text" name="status" formControlName="status" required/></td>
      <td><input type="text" name="master" formControlName="master"/></td>
      <td><input type="text" name="rank" formControlName="rank"/></td>
      <td>
        <button *ngIf="(j + 1)===f.controls.jedis.controls.length
              && jedi.valid" (click)="addJedi()">
          Add Jedi
        </button>
        <button *ngIf="jedi.valid" (click)="deleteJedi(j)">
          Delete Jedi
        </button>
        <button [disabled]="(jedi.pristine) || (jedi.invalid)"
          (click)="saveJedi(j)">
          Save Jedi
        </button>
      </td>
    </tr>
  </table>
</form>
